# ---------------------------------------------------------------------------
# Uploaded bus photos are served as plain files only.
# Even if a script somehow reached this folder, it could not be executed.
# ---------------------------------------------------------------------------
<IfModule mod_php.c>
    php_flag engine off
</IfModule>
<IfModule mod_php7.c>
    php_flag engine off
</IfModule>

RemoveHandler .php .phtml .php3 .php4 .php5 .php7 .phps
AddType text/plain .php .phtml .php3 .php4 .php5 .php7 .phps

Options -Indexes
